<h2>Countries</h2>
<hr>

<ul class="list-group">
  <!-- <li class="list-group-item list-group-item-action" routerLink="" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">Home
  </li>
  <li class="list-group-item list-group-item-action" routerLink="about" routerLinkActive="active">About
  </li>
  <li class="list-group-item list-group-item-action" routerLink="contact" routerLinkActive="active">Contact -->
  <!-- </li> -->
  <li class="list-group-item list-group-item-action" routerLink="countries/by-capital" routerLinkActive="active">By
    capital
  </li>
  <li class="list-group-item list-group-item-action" routerLink="countries/by-country" routerLinkActive="active">By
    country
  </li>
  <li class="list-group-item list-group-item-action" routerLink="countries/by-region" routerLinkActive="active">By
    region
  </li>
</ul>